<div class="player1-container">
  <app-player1 (pointa)="getPointa=$event" (pointb)="getPointb=$event">
  </app-player1>
</div>

<div class="table-container">
  <div class="board-container">
    <table class="table">
        <tr *ngFor="let row of arr">
            <td *ngFor="let data of row" [class.slad]="ladderMarker(data)" [class.smark]="snakesMarker(data)" [class.pone]="positionp1(data)" [class.ptwo]="positionp2(data)">
                 <div>{{data}}</div>
            </td>
        </tr>
    </table>   
</div>
</div>

<div class="player2-container">
  <app-player2 (pointi)="getPointi=$event" (pointj)="getPointj=$event">
  </app-player2>
</div>